<a href="https://colab.research.google.com/github/Thiru1605/NLP/blob/main/EXP3_200126nlp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import numpy as np
import re

In [3]:
upload = pd.read_csv('/content/twitter4000.csv')

In [4]:
upload['char_count'] = upload['twitts'].apply(len)
upload['word_count'] = upload['twitts'].apply(lambda x: len(str(x).split()))
upload['avg_word_length'] = upload['char_count']/upload['word_count']

In [5]:
upload['avg_word_length'] = upload['char_count']/upload['word_count']

In [6]:
upload['hash_tags_count'] = upload['twitts'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))

In [7]:
upload.sample(3)

,twitts,sentiment,char_count,word_count,avg_word_length,hash_tags_count
983,Soo Alice In Wonderland needs released like......,0,90,14,6.428571,0
250,@dcr757fresh2def everybody is always talkuin a...,0,81,11,7.363636,0
2113,@Lindsayslifee bitches are awesome im a bitch...,1,87,16,5.437500,0

In [8]:
upload['hash_tags_count'] = upload['twitts'].apply(lambda x: len(re.findall(r'@\w+',x)))

In [9]:
upload.sample(3)

,twitts,sentiment,char_count,word_count,avg_word_length,hash_tags_count
1229,@pmelt the only bad thing about aids is you ca...,0,128,26,4.923077,1
3555,"going to lay down , call me",1,28,7,4.000000,0
177,"My cat snuck out, and is stalking somewhere ar...",0,103,20,5.150000,0

In [10]:
upload['twitts'].apply(lambda x: len([word for word in x.split() if word.isupper()]))

0       0
1       0
2       1
3       0
4       0
       ..
3995    0
3996    0
3997    0
3998    0
3999    0
Name: twitts, Length: 4000, dtype: int64

In [11]:
upload['twitts'].apply(lambda x: len([word for word in x.split() if word.islower()]))

0       10
1        7
2        9
3        6
4       22
        ..
3995     3
3996     7
3997     5
3998     7
3999    14
Name: twitts, Length: 4000, dtype: int64

In [13]:
upload.info()
upload.count()
upload['sentiment'].value_counts()
upload.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   twitts           4000 non-null   object
 1   sentiment        4000 non-null   int64
 2   char_count       4000 non-null   int64
 3   word_count       4000 non-null   int64
 4   avg_word_length  4000 non-null   float64
 5   hash_tags_count  4000 non-null   int64
dtypes: float64(1), int64(4), object(1)
memory usage: 187.6+ KB

,twitts,sentiment,char_count,word_count,avg_word_length,hash_tags_count
0,is bored and wants to watch a movie any sugge...,0,53,10,5.300000,0
1,back in miami. waiting to unboard ship,0,40,7,5.714286,0
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,66,12,5.500000,1
3,ughhh i am so tired blahhhhhhhhh,0,33,6,5.500000,0
4,@mandagoforth me bad! It's funny though. Zacha...,0,142,26,5.461538,1

In [16]:
import pandas as pd # Ensure pandas is imported for pd.notna
import re

pattern = r'\s'
upload['char_count'] = upload['twitts'].apply(lambda x: len(re.sub(pattern, '', x if pd.notna(x) else '')))

In [17]:
upload['char_count']

0        43
1        32
2        54
3        27
4       116
       ...
3995     14
3996     32
3997     27
3998     45
3999     63
Name: char_count, Length: 4000, dtype: int64