<a href="https://colab.research.google.com/github/Thiru1605/NLP/blob/main/EXP3_200126nlp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np
import re

In [ ]:
upload = pd.read_csv('/content/twitter4000.csv')

In [ ]:
upload['char_count'] = upload['twitts'].apply(len)
upload['word_count'] = upload['twitts'].apply(lambda x: len(str(x).split()))
upload['avg_word_length'] = upload['char_count']/upload['word_count']

In [ ]:
upload['avg_word_length'] = upload['char_count']/upload['word_count']

In [ ]:
upload['hash_tags_count'] = upload['twitts'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))

In [ ]:
upload.sample(3)

,twitts,sentiment,char_count,word_count,avg_word_length,hash_tags_count
512,@andyclemmensen you should have replied to me ...,0,79,14,5.642857,0
76,Oh and if only lens phone didnt die i would kn...,0,78,17,4.588235,0
3034,"@Pandaran @BryanPerson And yet, Twitter still ...",1,122,21,5.809524,0

In [ ]:
upload['hash_tags_count'] = upload['twitts'].apply(lambda x: len(re.findall(r'@\w+',x)))

In [ ]:
upload.sample(3)

,twitts,sentiment,char_count,word_count,avg_word_length,hash_tags_count
251,"is NOT a very good guesser, so we'll see how t...",0,69,12,5.750000,0
2736,@KKRSeattle @jmedero Either gonna be AC or P ...,1,90,15,6.000000,2
2055,churchh. then down to Winthrop for hitting. me...,1,70,11,6.363636,0

In [ ]:
upload['twitts'].apply(lambda x: len([word for word in x.split() if word.isupper()]))

0       0
1       0
2       1
3       0
4       0
       ..
3995    0
3996    0
3997    0
3998    0
3999    0
Name: twitts, Length: 4000, dtype: int64

In [ ]:
upload['twitts'].apply(lambda x: len([word for word in x.split() if word.islower()]))

0       10
1        7
2        9
3        6
4       22
        ..
3995     3
3996     7
3997     5
3998     7
3999    14
Name: twitts, Length: 4000, dtype: int64